__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
ENV/
env/
bin/
lib/
include/

dist/
build/
*.egg-info/
.installed.cfg
*.egg
manifes

*.log
*.sqlite
*.db
*.csv
*.json

.env
.flaskenv
*.pem
*.key

test_func.py
urls.txt
